* {
  border: none;
  border-radius: 0px;
  font-family: "FiraCode Nerd Font";
  font-size: 16px;
  min-height: 10px;
}

window#waybar {
  background: #181825;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  transition: none;
  background: transparent;
}

#tags {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 4px;
  margin-bottom: 6px;
  border-radius: 0px;
  background: #181825;
  transition: none;
}

#tags button {
  transition: none;
  color: #b5e8e0;
  background: transparent;
  font-size: 16px;
  border-radius: 0px;
}

#tags button.occupied {
  transition: none;
  color: #f28fad;
  background: transparent;
  font-size: 4px;
}

#tags button.focused {
  color: #a6e3a1;
  border-top: 2px solid #a6e3a1;
  border-bottom: 2px solid #a6e3a1;
}

#tags button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #fae3b0;
  border-color: #e8a2af;
  color: #e8a2af;
}

#tags button.focused:hover {
  background-color: #e8a2af;
}

#workspaces button {
  padding: 0 0 0 0;
  margin: 4px 3px 6px 4px;
  background-color: transparent;
  color: #f2cdcd;
  min-width: 36px;
}

#workspaces button.active {
  padding: 0 0 0 0;
  margin: 4px 3px 6px 3px;
  border-top: 2px solid #f5e0dc;
  border-bottom: 2px solid #f5e0dc;
  border-left: 2px solid #f5e0dc;
  border-right: 2px solid #f5e0dc;
  min-width: 32px;
}

#workspaces button:hover {
  background-color: #f5e0dc;
  color: #181825;
}

#workspaces button.focused {
  background-color: #bbccdd;
  color: #323232;
}

#workspaces button.urgent {
  background-color: #64727d;
}

#window,
#workspaces {
  background-color: #181825;
  transition: none;
  color: #f2cdcd;
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:first-child > #workspaces {
  margin-right: 0;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #cba6f7;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #f9e2af;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #89dceb;
}

#battery.charging,
#battery.plugged {
  color: #181825;
  background-color: #89dceb;
}

#battery.critical:not(.charging) {
  background-color: #89dceb;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #fab387;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #a6e3a1;
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 6px;
  padding-right: 10px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #b4befe;
}

#temperature {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 6px;
  padding-right: 10px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #eba0ac;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 6px;
  padding-right: 10px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #94e2d5;
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 6px;
  padding-right: 10px;
  border-radius: 0px;
  transition: none;
  color: #f2cdcd;
  background: #181825;
}

#custom-launcher {
  font-size: 24px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 0px;
  padding-right: 3px;
  border-radius: 0px;
  transition: none;
  color: #89dceb;
  background: #181825;
}

#custom-power {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #f28fad;
}

#custom-wallpaper {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #c9cbff;
}

#custom-updates {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #e8a2af;
}

#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 0px;
  transition: none;
  color: #181825;
  background: #f2cdcd;
}
